{% extends "base.html" %}

{% block cssblock %}
    <style>
        .register-form{
            display: flex;
            flex-direction: column;
            row-gap: 0.75rem;
            align-items: center;
        }
    </style>
{% endblock %}

{% block content %}
<form class="register-form" action="{{ url_for('register') }}" method="post">
    <h1>Register an account</h1>
    <p style="color:green">{{msg}}</p>
    <label>
        Username <br>
        <input name='username' type="text" placeholder="Choose a username..." required>
    </label>
    <label>
        Name <br>
        <input name='name' type="text" placeholder="Enter your name" required>
    </label>
    <label>
        Birth Year <br>
        <input name='year' type="number" placeholder="Enter your birth year" required>
    </label>

    <label>
        Password <br>
        <input name='password' type="password" placeholder="Choose a password..." required>
    </label>

    <button type="submit">Register</button>
    <a href=" {{ url_for('login') }} ">Click here to login if you have an account.</a>
</form>
{% endblock %}